@import url('__container/photo-grid__container.css');
@import url('__item/photo-grid__item.css');
@import url('__image/photo-grid__image.css');

.photo-grid {
	width: calc(100% - (2 * 48px));
	max-width: 1184px;
	margin: auto;
}

@media all and (min-width:1024px) and (max-width:1279px) {
	.photo-grid {
		max-width: 928px;
	}
}

@media all and (min-width:426px) and (max-width:1023px) {
	.photo-grid {
		width: calc(100% - (2 * 24px));
		max-width: 720px;
	}
}

@media all and (max-width:425px) {
	.photo-grid {
		width: calc(100% - (2 * 16px));
		max-width: 288px;
	}
}