@import url("__logo/header__logo.css");
@import url("__lang/header__lang.css");
@import url("__lang-link/header__lang-link.css");

.header {
	width: calc(100% - (2*148px));
	max-width: 984px;
	margin: 34px auto 58px;
	display: flex;
}

@media all and (min-width:1024px) and (max-width:1279px) {
	.header {
		width: calc(100% - (2*48px));
		max-width: 928px;
		margin: 34px auto 50px;
	}
}

@media all and (min-width:768px) and (max-width:1023px) {
	.header {
		width: calc(100% - (2*24px));
		margin: 34px auto 50px;
	}
}

@media all and (min-width:426px) and (max-width:767px) {
	.header {
		width: calc(100% - (2*24px));
	}
}

@media all and (max-width:425px) {
	.header {
		width: calc(100% - (2*16px));
		max-width: 288px;
		margin: 20px auto 50px;
	}
}